html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* Primary Colors */
:root {
  --cardinal-red: #BA0C2F;
  --white: #FFFFFF;

  /* Secondary Colors */
  --black: #000000;
  --dark-gray: #54585A;
  --light-gray: #E6E7E8;
  --dark-red: #79242F; /* Use carefully as specified */
}

body {
  background-color: var(--white);
  color: var(--black);
}


/* Sidebar styling */
#sidebar-wrapper {
  transition: all 0.5s ease;
}

#sidebar-wrapper .sidebar-heading {
  background: var(--dark-gray);
  color: var(--white);
  text-align: center;
  padding: 10px 15px;
  font-size: 1.2em;
}

.list-group-item-action {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.list-group-item-action:hover {
  background-color: var(--cardinal-red);
  color: var(--white);
}

/* Push sidebar a bit to the left and down */
#sidebar-wrapper {
  margin-left: -15px;
  margin-top: 20px;
}

/* Adjusting buttons to be more interesting */
.btn-primary {
  background-color: var(--cardinal-red);
  border: none;
}

.btn-primary:hover {
  background-color: var(--dark-red);
  color: var(--white);
}


/* Highlight "Start Route" specifically */
.navbar .start-route {
  background-color: #FFFFFF; /* White */
  color: #BA0C2F; /* Cardinal Red */
  padding: 5px 10px;
  border-radius: 5px;
}

